:root {
    --primary-color: #049e04;
    --bg-color: #000000;
    --white-color: #525252;
}

body {
    background: var(--bg-color);
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    color: currentColor;
}