.manda_um_zap {
    display: flex;
    justify-content: space-around;
    height: 15vh;
    margin-top: 10vh;
}

.numero_da_pessoa {
    margin: auto;
    display: block;
    width: 40vh;
    text-align: center;
    height: 50px;
    font-size: 1.4em;
    border-radius: 10px;
    border-color: var(--primary-color);
}

.sms_btn_box {
    border: solid 1px var(--primary-color);
    height: 100px;
    border-radius: 10px;
    background-color: var(--white-color);
    text-align: center;
    position: relative;
    cursor: pointer;
}

.mensagem_personalizada {
    border: solid 1px var(--primary-color);
    height: 100px;
    border-radius: 10px;
    width: 100%;
}

.btn_menssagem {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: -20%;
    font-size: 1.5em;
    color: var(--bg-color);
}

.btn_send {
    background-color: var(--primary-color);
    width: 100%;
    display: block;
    text-align: center;
    color: var(--white-color);
    height: 60px;
    position: fixed;
    bottom: 0px;
    font-size: 1.5em;
    font-weight: 700;
    padding: 10px;
}